#conteneur{ width: 1000px; margin: 0 auto; border: 2px solid; }
header{ background: #40A497; height: 80px; }
nav{ background: #9A40A4; height: 30px;  }
.conteneur-section{ margin: 20px; }
section{ display: flex; }
.a{ background: #32a7a0; height: 250px; width: 480px; }
.b{ background: #d69f1b; height: 250px; width: 480px; }
.c{ background: #b1b2d8; height: 250px; width: 480px;}
.d{ background: #1217f2; height: 250px; width: 480px;}
footer{ background: #40A497; height: 60px;  }
.clear{ clear: both; }


/*
---------------------
Plusieurs moyens de styliser un �l�ment :
	par son id: #elem
	par sa classe: .elem
	par sa balise: balise 	
---------------------
MARGIN/PADDING :
	margin/padding: 10px 9px 8px 7px; 10px en haut - 9px � droite - 8px en bas - 7px � gauche
	margin/padding: 10px 7px; 10px en haut et en bas - 7px � gauche et � droite
	margin/padding: 10px 9px 8px; 10px en haut - 9px � droite - 8px en bas.
	margin/padding: 10px; 10px tout autour (haut, droite, bas, gauche).
	padding-top/margin-top: 10px; top en haut
	padding-right/margin-right: 10px; right � droite
	padding-bottom/margin-bottom: 10px; bottom en bas
	padding-left/margin-left: 10px; left � gauche
---------------------
R�gle d'�criture :
	div.zone{} veut dire "va me chercher la div qui poss�de la classe 'zone'".
	div .zone{} veut dire "va me chercher la classe zone qui se trouve A L'INTERIEUR de la div (c'est l'espace qui change la signification).
	.maclasse, .maclasse2{} : il y a des virgules, on applique le style sur plusieurs �l�ments.
---------------------
*/

/*--------------------------------------PARTIE RESPONSIVE ADAPTATIF------------------------------------------------------------*/

@media screen and (max-width: 1050px){
	#conteneur{ width: 750px;}
	.a, .b, .c, .d{ width: 355px; }
}
/* entre 780px et 1050px, le #conteneur fera 750px et les zones .a, .b, .c, .d feront 355px */

@media screen and (max-width: 780px){
	#conteneur{ width: 550px;}
	.a, .b, .c, .d{ width: 255px; }
}
@media screen and (max-width: 620px){
	#conteneur{ width: 450px;}
	.a, .b, .c, .d{ width: 300px;}
	
}
@media screen and (max-width: 520px){
	#conteneur{ width: 350px;}
	.a, .b, .c, .d{width: 300px; height: 18vh;}
	section{ flex-direction: column;}
}


