p
{
    margin: 0;
    background : gray;
    border-radius: 50%;
}
.orange
{
    color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    font-size: 50px;
}