body
{
    background: cornsilk;
}
.a
{
        width: 70%;
        background: yellowgreen;
        margin: 0 auto;
        padding: 30px;  /* marge interne du conteneur */
}

.b, .c
{
    height: 15vh;
    width: 45%;
    border: 2px solid black;
    margin: 0 10px;
    display: inline-block; /* inline block rend le vertical align possible */
    vertical-align: middle;
    text-align: center;
    
}

