img
{
    height: 40vh;
    width: 50%;
    margin: 15px 0;
    transition: 2s;
    box-shadow: 
}
img:hover
{
    height: 50vh;
    width: 60%;
    border: 5px groove black;
    border-color: black;
    transform: rotate(360deg);
    border-radius: 20%;
}
